__pycache__/
build/
*.egg-info/
*npy

.bash_history
.cache/
.local/
.python_history
.ros/
.viminfo

.jupyter/
.ipython/
RicoModels_pkg/ricomodels/data
Pytorch-UNet/

RicoModels_pkg/ricomodels/unet/checkpoints/
**/wandb/
**/results/

*.pth
credentials.json
token.pickle
# Files for docker container
.bashrc
.inputrc
RicoModels_pkg/dist/
